# Bloquear acceso a archivos sensibles.
<FilesMatch "(^\.|composer\.(json|lock)$|\.env$|\.git.*$|\.md$|\.log$)">
    Require all denied
</FilesMatch>

# Bloquear directory listing en raíz.
Options -Indexes
